:root {
    font-size: 16px;
    font-family: Inter, sans-serif,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana;
    font-weight: 600;
    --primary-color: #023047;
    --secondary-color: #219EBC;
    --expenses-color:#FFA9A9;
    --income-color:#ABFFA9;
}

.savings-wrapper {
  color: #FFFFFF;
  padding: 5px;
}

.text-savings {
  font-size:1.3rem;
  padding: 5px;
  margin: 0px 0px 10px 0px;
}

.amount-savings{
  font-size: 2.4rem;
  padding: 5px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 428px ;
  height: 926px ;
  margin: 0px auto;
  padding: 30px;
  background-color: var(--primary-color);
}

.income-expenses-container {
  align-self: center;
  margin: 20px;
}
.income-expenses-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  color: #FFFFFF;
  width: 350px;
  height: 75px;
  background-color:#D9D9D94F;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 20px; 
  padding: 5px;
}

.income-wrapper{
  text-align: center;
}

.income-text {
  padding: 10px;
  font-weight: 400;
 
}

.income-amount {
  padding: 5px;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--income-color);
}
.expenses-wrapper{
  text-align: center;
}
.expenses-text {
  font-weight: 400;
  padding: 10px;
  
}

.expenses-amount{
  padding: 5px;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--expenses-color);
}



.vertical-line-wrapper{
  align-self: center;
}
.vertical-line{
  display: inline-block;
  border-left: 1px solid #ccc;
  margin: 0 10px;
  height: 52px;
}

.my-transactions-container {
  align-self: center;
}
.my-transactions-wrapper {
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
  width: 350px;
  height: 30px;
  padding: 5px;
}
.transaction-text {
  align-self: center;
  font-size: 1.2rem;
}
.dot {
  height: 5px;
  width: 5px;
  background-color: #D9D9D9;
  border-radius: 50%;
  display: inline-block;
}
.meatball-menu{
  align-self: center;
}
